# VS Code
.vscode/

# Windows
AppData/
D3DSCache/
*.tmp
*.log
*.jtx
*.edb
*.vol
*.jfm

# Python
__pycache__/
*.pyc

# Node (se tiver)
node_modules/
dist/

# Ignorar arquivos e pastas desnecessárias
#__pycache__/
#*.pyc
#*.pyo
#*.log
#.env
#.vscode/
#AppData/
#D3DSCache/